@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?agkpc3');
  src:  url('../font/icomoon.eot?agkpc3#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?agkpc3') format('truetype'),
    url('../font/icomoon.woff?agkpc3') format('woff'),
    url('../font/icomoon.svg?agkpc3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}
